{% extends "app/html/themes/real-estate/_layout-listing.html" %}

{% block content %}

	<h1 class="text-h3">Properties</h1>

	<div class="row gridalicious" data-toggle="gridalicious" data-width="200">
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-primary"></span>
					<span class="text">Sale</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-378874-real-estate-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Property for sale</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;277,028.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-home-fill-1"></i> Agency
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-default"></span>
					<span class="text">Sale</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-195203-houses-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Property for sale</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;82,331.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-home-fill-1"></i> Agency
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-default"></span>
					<span class="text">Sale</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-196089-house-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Property for sale</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;81,662.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-user-1"></i> Individual
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-primary"></span>
					<span class="text">Rent</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-197173-residential-home-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Residential Home</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;132,021.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-user-1"></i> Individual
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-primary"></span>
					<span class="text">Rent</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-3979102-superb-backyard-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Superb Backyard</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;175,654.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-home-fill-1"></i> Agency
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-default"></span>
					<span class="text">Sale</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-2238345-apartments-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Appartments</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;187,285.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-user-1"></i> Individual
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="cover hover overlay margin-none">
				<div class="ribbon-mark">
					<span class="caret caret-default"></span>
					<span class="text">Sale</span>
				</div>
				<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
					<span class="v-center">
						<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
					</span>
				</a>
				<a href="property.html"><img src="images/photodune-1112879-modern-kitchen-in-luxury-mansion-xs.jpg" alt="location" class="img-responsive" /></a>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="text-uppercase">Luxury Mansion</h5>
					<p>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
						<span class="fa fa-fw fa-star-o text-yellow-800"></span>
					</p>
					<strong class="text-primary">&euro;72,152.00</strong>
				</div>
				<div class="list-group-item">
					<i class="fa fa-fw icon-home-fill-1"></i> Agency
				</div>
				<div class="list-group-item text-center">
					<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Details</a>
				</div>
			</div>
		</div>
	</div>

	<ul class="pagination margin-top-none">
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>

{% endblock %}