<div class="sidebar{% if sidebarOptions %} {{ sidebarOptions }}{% endif %}" {% if sidebarData %} {{ sidebarData }}{% endif %}>
	<div class="split-vertical">
		<div class="sidebar-block">
			<br/>
			<input type="text" class="form-control" placeholder="Search...">
		</div>
		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div data-scrollable>
					<!-- Blank Div to Skip Menu Styling -->
					<ul class="emails">
						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

						<li class="sidebar-block">
							<a href="#">
								<div class="media margin-none">
									<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object pull-left" width="25"/>
									<span class="pull-right text-muted">18 Oct</span>
									<div class="media-body">
										<h5>Adrian Demian</h5>
									</div>

								</div>
								<h4>Subject of the Email</h4>

								<p>Lorem ipsum dolor sit amet, some adipisicing elit.</p>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>