{% extends "app/html/themes/admin/_layout.html" %}

{% block content %}

    <div class="jumbotron bg-transparent text-center margin-none">
        <h1>Essentials KIT</h1>
        <p>The Essentials KIT includes the must-have components for every website and represents the basics of the vast UI framework included with ThemeKit, organised into a single module.</p>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-buttons.jpg" alt="Buttons"/>
                    <a href="buttons.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Buttons</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-icons.jpg" alt="Icons"/>
                    <a href="icons.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Icons</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-expandable.jpg" alt="Expandable"/>
                    <a href="expandable.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Expandable</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-forms.jpg" alt="Forms"/>
                    <a href="forms.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Forms</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-tabs.jpg" alt="Tabs"/>
                    <a href="tabs.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Tabs</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-nestable.jpg" alt="Nestable"/>
                    <a href="nestable.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Nestable</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-tree.jpg" alt="Tree Views"/>
                    <a href="tree.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Tree View</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-tables.jpg" alt="Tables" />
                    <a href="tables.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Tables</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-progress.jpg" alt="Progress"/>
                    <a href="progress.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Progress</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/choose/essential-grid.jpg" alt="Grid"/>
                    <a href="grid.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="text-h1">Grid</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}