{% extends "app/html/themes/choose/_layout.html" %}

{% block content %}

	<div class="container">
		<div class="alert alert-choose"> <i class="fa fa-gift fa-fw text-success fa-2x"></i> Purchase ONCE and get endless amazing updates along with new Themes</div>
		<div class="jumbotron bg-transparent margin-none text-center">
			<h1>ThemeKit - Multiple Themes & UI Framework</h1>
			<p>ThemeKit is a collection of multiple targeted themes which uses a single framework of user interface elements.</p>
		</div>
	</div>

	<hr/>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/admin/index.html">Admin Dashboard Template</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/admin/index.html">
							<img src="choose/images/admin.png" alt="Admin Template" class="img-responsive"/>
						</a>
						<a href="themes/admin/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/real-estate/index.html">Real Estate Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/real-estate/index.html">
							<img src="choose/images/real-estate.png" alt="Real Estate" class="img-responsive"/>
						</a>
						<a href="themes/real-estate/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/music/index.html">Music Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/music/index.html">
							<img src="choose/images/music.png" alt="Music Template" class="img-responsive"/>
						</a>
						<a href="themes/music/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/social-1/index.html">Social Network #1</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/social-1/index.html">
							<img src="choose/images/social-1.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="themes/social-1/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/social-2/index.html">Social Network #2</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/social-2/index.html">
							<img src="choose/images/social-2.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="themes/social-2/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/social-3/index.html">Social Network - Fixed Layout</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/social-3/index.html">
							<img src="choose/images/social-3.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="themes/social-3/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="themes/learning/index.html">Learning Management Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="themes/learning/index.html">
							<img src="choose/images/learning.png" alt="Learning Management Theme" class="img-responsive"/>
						</a>
						<a href="themes/learning/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="ui/layout/index.html">Layout KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="ui/layout/index.html">
							<img src="choose/images/layout.png" alt="Layouts" class="img-responsive"/>
						</a>
						<a href="ui/layout/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="ui/sidebar/index.html">Sidebar KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="ui/sidebar/index.html">
							<img src="choose/images/sidebar.png" alt="Sidebar KIT" class="img-responsive"/>
						</a>
						<a href="ui/sidebar/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="ui/navbar/index.html">Navbar KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="ui/navbar/index.html">
							<img src="choose/images/navbar.png" alt="Navbar" class="img-responsive"/>
						</a>
						<a href="ui/navbar/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="ui/essential/index.html">Essentials KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="ui/essential/index.html">
							<img src="choose/images/essentials.png" alt="Essential User Interface Elements" class="img-responsive"/>
						</a>
						<a href="ui/essential/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="ui/color/index.html">Color KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="ui/color/index.html">
							<img src="choose/images/colors.png" alt="Various Colored HTML Elements" class="img-responsive"/>
						</a>
						<a href="ui/color/index.html" class="btn btn-primary">Live Demo</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}